<!-- src/main/resources/templates/details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Book Details</h1>
        <div class="mt-3">
            <!-- Display success message -->
            <div th:if="${message}" class="alert alert-success" role="alert">
                <span th:text="${message}"></span>
            </div>

            <p><strong>ID:</strong> <span th:text="${book.id}"></span></p>
            <p><strong>Title:</strong> <span th:text="${book.title}"></span></p>
            <p><strong>Quantity:</strong> <span th:text="${book.quantity}"></span></p>
            <p><strong>Borrow Code:</strong> <span th:text="${borrowCode}"></span></p>
            <a th:href="@{/books}" class="btn btn-primary">Back to Library</a>
        </div>
    </div>
</body>
</html>